@font-face {font-family: "Brandon Grot W01 Light";
  src: url("funconts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.eot");
  src: url("fonts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"), /* chrome、firefox */
  url("fonts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Brandon_Grot _W01_Light/6dd2f2510b4a00a5461b2455928209c2.svg#Brandon Grot W01 Light") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Didot eText W01 Italic";
  src: url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.eot"); /* IE9*/
  src: url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.woff") format("woff"), /* chrome、firefox */
  url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/Didot_eText_W01_Italic/16efa2896f117dae2debeb23ab4715dd.svg#Didot eText W01 Italic") format("svg"); /* iOS 4.1- */
}

$mainFont: 'Brandon Grot W01 Light', sans-serif;
$sectionEndMarg: 150px;
$sectionEndMarg-phone: 30px;

//For Chrome, Mozilla, and Opera Browsers
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  margin-right: 10px;
  cursor: pointer;
}
[type="date"]{
  background:#fff url(src/calendarclear.svg)  135% 50% no-repeat;
  background-size: 50% 70%;
}

[type="number"]::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  width: 20px;
  height: 30px;
}

//For Internet Explorer, Edge
[type="date"]:-ms-inner-spin-button {
  display: none;

}
[type="date"]:-ms-calendar-picker-indicator {
  margin-right: 10px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: auto;
}

body {
    font-family: $mainFont;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

nav {
  // height: auto;
  height: 70px;
  width: 100%;
  position: fixed;
  background-color: #242323;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  ul {
  list-style-type: none;
  margin: 30px;
  padding: 10px;
  }
  li{
    display: inline;
    // padding: 10px;
    padding: 10px 0px 10px 0px;
    margin-left: 10px;
    margin-right: 10px;
    .link{
      text-decoration:none;
      color: #fff;
      font-size: 14px;
      padding: 10px 10px;
      margin: 5px;
      // psiaudo selektorius
        &:hover{
          color: #B0B0B0;
        }
        //kodel neveikia sitas dar?
        :focus{
          color: #B0B0B0;
        }
    }
    .active{
      color: #B0B0B0;
    }
    .differentLink{
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      padding: 10px 20px;
      // margin: 5px;
      &:hover{
        color:black;
      }
    }
  }
  .link-border{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    &:hover{
      background-color: white;
      color: black;
    }
  }
  .burgerHolder{
    display: none;
    margin: 0;
    padding: 0;
    .burgerCont{
      border: solid 1px white;
      p{
        color: white;
        font-size: 40px;
        padding: 0;
        margin: 0;
        font-weight: 100;
      }
    }
  }
}

//hidden full menu
.fullScreenNavCont{
  background-color: #242323;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
  .closeBtnCubeCont{
    float: right;
    margin: 20px 25px 0 0;
    .closeBtnCube{
      border: solid 1px white;
      width: 57.5px;
      height: 55.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        color: white;
        font-size: 25px;
      }
    }
  }
  .fullScreenNavItems{
    width: 100%;
    margin-top: 100px;
    li{
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .active{
        opacity: 0.5;
      }
      a{
        text-decoration:none;
        color: #fff;
        font-size: 15px;
        :focus{
          color: #B0B0B0;
        }
      }
    }
  }
}

.fixedSocCont{
  // border: solid 2px black;
  background-color: white;
  // width: 87px;
  height: 222px;
  position: fixed;
  right: 0;
  top: 250px;
  border-radius: 2px;
  opacity: 0.9;
  z-index: 3;
  .fixedSocContItemCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin-top: 10px;
    img{
      margin: 20px;
    }
    .tripadvisor{
      width: 28px;
      height: 28px;
    }
    .facebook{
      width: 22px;
      height: 22px;
    }
    .instagram{
      width: 22px;
      height: 22px;
    }
  }
}

.backToTopBtn{
  display: none;
  // sita parasiau nes kazkas edge buginos
  visibility: hidden;
  position: fixed;
  border-radius: 50%;
  background-color: #191919;
  width: 45px;
  height: 45px;
  left: 80.5%;
  bottom: 80px;
  cursor: pointer;
  z-index: 4;
  &:hover{
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75)
  }
  img{
    display: block;
    margin-left: -1px;
  }
}

.fixedChatCont{
  position: fixed;
  border-radius: 50%;
  background-color: #191919;
  width: 60px;
  height: 60px;
  left: 50px;
  bottom: 15px;
  cursor: pointer;
  visibility: visible;
  z-index: 4;

  &:hover{
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75)
  }


  img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 14px auto;
  }
}

.closeBtnRoundCont{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  .closeBtnRound{
    border-radius: 50%;
    position: absolute;
    width: 32px;
    height: 32px;
    color: white;
    &:hover{
      background-color: #E0E0E0;
      opacity: 0.2;
    }
  }
  p{
    text-align: center;
    margin-top: 3px;
    color: white;
  }
}

.fixedChatBigCont{
  left: 20px;
  bottom: 0;
  position: fixed;
  width: 336px;
  // height: 507px;
  height: 0;
  z-index: 5;
  transition: 0.5s;
  .letsChatTxtCont{
    width: 100%;
    height: 226px;
    background-color: #242323;
    color: #fff;
    text-align: center;
    font-family: $mainFont;
    padding-top: 70px;
    line-height: 35px;
    h1{
      font-size: 22px;
    }
  }
  .chatSpaceCont{
    background-color: #E2E2E2;
    width: 100%;
    height: 222px;
  }

  .typeSpaceCont{
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    .item{
      width: 20px;
      height: 20px;
      margin: 10px;
    }
    .paperPlane{
      display: none;
    }
    textarea{
      resize: none;
      outline: none;
      border: none;
      font-family: $mainFont;
      font-size: 20px;
      // keiciau
      width: 80%;
    }
  }
}

.homeSect{
  margin-top: 150px;
  margin-bottom: $sectionEndMarg;
  .homeTxt{
    margin-bottom: 85px;
    text-align: center;
    h1{
      font-size: 40px;
      margin-top: 80px;
      letter-spacing: 2px;
    }
    h2 {
       border-bottom: 1px solid #a8a8a8;
       line-height: 0.1em;
       margin: 20px auto 20px;
       width: 250px;
       span {
           background:#fff;
           padding:0 20px;
           font-weight: 100;
           font-size: 20px;
           color: #696969;
           font-family: "Didot eText W01 Italic", sans-serif;
       }
    }
  }
  .parallaxImg{
    background-image: url("src/design-3588214_1920.jpg");
    height: 631px;
    width: 65%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .homeBookingForm{
    width: 95%;
    margin: 30px auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    .labelwInput{
      margin-left: 5px;
      label{
        font-size: 12px;
      }
      input{
        cursor: pointer;
        padding-left: 7px;
        font-family: $mainFont;
        border: 1px solid #bdbdbd;
        &:focus{
          outline: none;
          background: white;
        }
        &:hover{
          background: white;
        }
      }
      .inputFieldDate{
        width: 270px;
        height: 35px;
      }
      .inputFieldNumber{
        width: 90px;
        height: 35px;
      }
    }
    .searchBookingButton{
      background-color: #000;
      border: none;
      color: white;
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      width: 190px;
      height: 35px;
      margin-top: 22px;
      margin-left: 5px;
      font-family: $mainFont;
    }
  }
}

.aboutSect{
  margin-bottom: 200px;
  .aboutTxt{
    text-align: center;
    h4{
      font-size: 25px;
      font-weight: 100;
    }
    .abouttxtDiv{
      width: 40%;
      height: 106px;
      margin: 40px auto 150px;
      p{
        font-size: 18px;
        color: #737373;
        font-style: italic;
      }
    }
  }
}

.roomsSect{
  margin-bottom: $sectionEndMarg;
  .parallaxImg{
    background-image: url("src/villa-1737168_1920.jpg");
    width: 65%;
    height: 631px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .divOverImg{
      width: 50%;
      height: 366px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4{
        font-size: 24px;
        font-weight: 100;
      }
      .onImgPtxtDiv{
        width: 85%;
        height: auto;
        text-align: center;
        margin: 33px 0 25px;
        p{
          color: #737373;
          font-style: italic;
          font-size: 18px;
        }
      }
      button{
        background-color: transparent;
        border: solid 1px black;
        text-align: center;
        cursor: pointer;
        font-size: 12px;
        width: 142px;
        height: 42px;
        a{
          text-decoration: none;
          color: black;
        }
        &:hover{
          background-color: black;
          a{
            color: white;
          }
        }
      }
    }
  }
}

.servicesSect{
  margin-bottom: $sectionEndMarg;
  h4{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
  .servicesflexCont{
    width: 62%;
    height: auto;
    margin: 35px auto 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .flexContItm{
      text-align: center;
      margin: 10px;
    }
    img{
      height: 25px;
      width: 25px;
    }
    h6{
      font-size: 18px;
      margin: 5px 0 25px;
     }
    p{
      font-size: 18px;
      color: #737373;
      font-style: italic;
    }
  }
}

.gallerySect{
  margin-bottom: $sectionEndMarg;
  width: 100%;
    h4{
      font-size: 25px;
      font-weight: 100;
      text-align: center;
    }
    .galleryImgCont{
      text-align: center;
      z-index: 0;
      .galleryImgHolder{
        display:inline-block;
        width: 21%;
        height: 635px;
        margin: 35px 2px 5px 2px;
        &:hover{
          opacity: 0.7;
        }

        .firstColfirstImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/185935976.jpg')no-repeat center;
          background-size: cover;
          animation:fade 15s infinite;
          -webkit-animation:fade 15s infinite;
        }
        .firstColsecondImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/181697821.jpg')no-repeat center;
          background-size: cover;
          animation:fade2 15s infinite;
          -webkit-animation:fade2 15s infinite;
        }

        .secColfirstImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/185936020.jpg')no-repeat center;
          background-size: cover;
          animation:fade 15s infinite;
          -webkit-animation:fade 15s infinite;
        }
        .secColsecondImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/185935973.jpg')no-repeat center;
          background-size: cover;
          animation:fade2 15s infinite;
          -webkit-animation:fade2 15s infinite;
        }

        .trdColfirstImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/185936651.jpg')no-repeat center;
          background-size: cover;
          animation:fade 15s infinite;
          -webkit-animation:fade 15s infinite;
        }
        .trdColsecondImg{
          position: absolute;
          width: 21%;
          height: 630px;
          background: url('src/181697861.jpg')no-repeat center;
          background-size: cover;
          animation:fade2 15s infinite;
          -webkit-animation:fade2 15s infinite;
        }

        @-webkit-keyframes fade
        {
          0%   {opacity:1}
          33.333% { opacity: 0}
          66.666% { opacity: 0.7}
          100% { opacity: 1}
        }

        @keyframes fade
        {
          0%   {opacity:1}
          33.333% { opacity: 0}
          66.666% { opacity: 0.7}
          100% { opacity: 1}
        }
        @-webkit-keyframes fade2
        {
          0%   {opacity:0}
          33.333% { opacity: 0.9}
          66.666% { opacity: 1 }
          100% { opacity: 0}
        }
        @keyframes fade2
        {
          0%   {opacity:0}
          33.333% { opacity: 0.9}
          66.666% { opacity: 1 }
          100% { opacity: 0}
        }
      }
    }
}

.seeNdooSect{
  margin-bottom: $sectionEndMarg;
  h4{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
  .seeNdooSectflexCont{
    width: 62%;
    height: auto;
    margin: 35px auto 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .flexContItm{
      text-align: center;
      margin: 10px;
    }
    h6{
      font-size: 18px;
      margin: 5px 0 25px;
     }
    p{
      font-size: 18px;
      color: #737373;
      font-style: italic;
    }
  }
}

.reviewSect{
  margin-bottom: $sectionEndMarg;
  .parallaxImg{
    background-image: url("src/sunlight-166733_1920.jpg");
    width: 65%;
    height: 631px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .divOverImg{
      width: 50%;
      height: 366px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h4{
        font-size: 24px;
        font-weight: 100;
        margin-bottom: 20px;
      }
      img{
        width: 17px;
        height: 17px;
      }
      .onImgPtxtDiv{
        width: 85%;
        height: auto;
        text-align: center;
        margin: 33px 0 25px;
        p{
          color: #737373;
          font-style: italic;
          font-size: 18px;
        }
        .cube{
          background-color: black;
          border-radius: 3px;
          width: 8px;
          height: 8px;
          display: inline-block;
          margin: 35px 0 0 5px;
        }
        .active{
          opacity: 0.5
        }
      }
    }
  }
}

.contactSect{
  width: 100%;
  height: auto;
  background-color: #F0F0F0;
  padding-top: 110px;
  h4{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
  .contactTxt{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-size: 18px;
      font-style: italic;
      color: #737373;
      margin: 50px 10px 50px;
    }
    .SocContBottom{
      display: none;
    }
  }
  form{
    margin-bottom: 90px;
    ul{
      text-align: center;
      list-style:none
    }
    li{
      margin: 12px;
    }
    input{
      width: 21%;
      height: 30px;
      border: none;
      font-family: $mainFont;
      padding-left: 7px;
      &::-webkit-input-placeholder{
        color: black;
      }
      &::-moz-placeholder{
        color: black;
      }
      &:-ms-input-placeholder{
        color: black;
      }
      &::-ms-input-placeholder{
        color: black;
      }
      &::placeholder{
        color: black;
      }
      &:focus{
        outline: none;
      }
    }
    .subjectField{
      width: 42%;
      &::-webkit-input-placeholder{
        color: black;
      }
      &::-moz-placeholder{
        color: black;
      }
      &:-ms-input-placeholder{
        color: black;
      }
      &::-ms-input-placeholder{
        color: black;
      }
      &::placeholder{
        color: black;
      }
    }
    textarea{
      width: 42%;
      font-family: $mainFont;
      border: none;
      resize: none;
      padding-left: 7px;
      &::-webkit-input-placeholder{
        color: black;
      }
      &::-moz-placeholder{
        color: black;
      }
      &:-ms-input-placeholder{
        color: black;
      }
      &::-ms-input-placeholder{
        color: black;
      }
      &::placeholder{
        color: black;
      }
      &:focus{
        outline: none;
      }
    }
    button{
      font-family: $mainFont;
      background-color: #000;
      border: none;
      color: white;
      text-align: center;
      cursor: pointer;
      font-size: 18px;
      width: 42%;
      height: 45px;
      margin: 0 0 15px;
      &:focus{
        outline: none;
      }
    }
  }

  .mapDiv{
    height: 695px;
    width: 100%;
    margin:0;
    iframe{
      height: 695px;
      width: 100%;
      border: none;
    }
  }
}

footer{
  background-color: black;
  color: #F5F5F5;
  font-size: 14px;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px){

  .backToTopBtn{
    display: block;
    // visibility: hidden;
  }

  nav{
        height: 91px;
        position: absolute;
        ul{
          margin:0;
          padding: 0;
          li{
            margin: 0;
            .link{
              display: none;
            }
          }
          .link-border{
            position: absolute;
            left: 20px;
            // margin-top: -15px;
            margin-top: -30px;
            padding: 15px 40px;
            .differentLink{
              margin: 5px;
            }
          }
          .burgerHolder{
            display: block;
            position: absolute;
            right: 20px;
            // margin-top: -38.5px;
            margin-top: -30px;
            width: 18%;
            text-align: center;
            .burgerCont{
              height: 54px;
              p{
                margin-top: 6px;
                font-size: 30px;
              }
            }
          }

        }
      }

//SUTVARKYTI TA KNOPKE ne tik mobile bet ir plance ir main page.
  .fullScreenNavCont{
    background-color: #242323;
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;
    .closeBtnCubeCont{
      float: right;
      margin: 20px 25px 0 0;
      .closeBtnCube{
        border: solid 1px white;
        width: 57.5px;
        height: 55.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          color: white;
          font-size: 25px;
        }
      }
    }
    .fullScreenNavItems{
      width: 100%;
      margin-top: 100px;
      li{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        .active{
          opacity: 0.5;
        }
        a{
          text-decoration:none;
          color: #fff;
          font-size: 15px;
          :focus{
            color: #B0B0B0;
          }
        }
      }
    }
  }

  .fixedSocCont{
    display: none;
  }

  .fixedChatCont{
    width: 50px;
    height: 50px;
    left: 80%;
    img{
      margin: 10px auto;
    }
  }

  .fixedChatBigCont{
    width: 100%;
    height: 0;
    left: 0;
    z-index: 5;
    .closeBtnRoundCont{
      top: 5px;
      right: 10px;
      p{
        margin-top: 4px;
      }
    }
    .letsChatTxtCont{
      height: 30%;
      h1{
        font-size: 20px;
      }
    }
    .chatSpaceCont{
      height: 60%;
    }
   .typeSpaceCont{
      height: 10%;
    }
  }

  .homeSect{
    margin-top: 115px;
    margin-bottom: $sectionEndMarg-phone;
    .homeTxt{
      margin-bottom: 30px;
      h1{
        font-size: 24px;
      }
      h2{
        width: 80%;
        span{
           padding:0 15px;
           font-size: 16px;
        }
      }
    }
    .parallaxImg{
      width: 100%;
      height: 240px;
      background-attachment:local;
    }

    .homeBookingForm{
      margin: 30px 0;
      .labelwInput{
          margin-bottom: 10px;
          margin-top: 10px;
        label{
          border: solid 1px gray;
          border-radius: 3px;
          padding: 5px 30px;
        }
        .checkInInpt{
          padding: 5px 55px;
        }
        .checkOutInpt{
          padding: 5px 50px;
        }
        .adlutsInput{
          padding: 5px 136px;
        }
        .kidsInput{
          padding: 5px  141px;
        }
        input{
          border: solid 1px gray;
          border-radius: 2px;
          background: white;
        }
        .inputFieldDate{
          width: 100%;
          height: 50px;
          text-align: center;
          ::-webkit-calendar-picker-indicator{
            opacity: 0;
          }
        }
        .inputFieldNumber{
          width: 100%;
          height: 35px;
          text-align: left;
          padding-left: 10px;
        }
      }
      .searchBookingButton{
        font-size: 16px;
        width: 50%;
        height: 50px;
        margin-top: 10px;
        border-radius: 3px;
      }
    }
  }

  .aboutSect{
    margin-bottom: $sectionEndMarg-phone;
    .aboutTxt{
      h4{
        font-size: 20px;
      }
      .abouttxtDiv{
        width: 65%;
        height: auto;
        // word-break: break-all;
        p{
          font-size: 16px;
        }
      }
    }
  }

  .roomsSect{
    margin-bottom: $sectionEndMarg-phone;
    .parallaxImg{
      width: 100%;
      height: 360px;
      background-attachment: local;
      .divOverImg{
        width: 80%;
        height: 305px;
        h4{
          font-size: 20px;
        }
        .onImgPtxtDiv{
          width: 90%;
          height: 120px;
          margin: 10px 5px;
          p{
            font-size: 16px;
          }
        }
        button{
          font-size: 15px;
          width: 80%;
          height: 50px;
        }
      }
    }
  }

  .servicesSect{
    margin-bottom: $sectionEndMarg-phone;
    h4{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .servicesflexCont{
      width: 100%;
      margin:0;
      justify-content: center;
      flex-direction: column;
      .flexContItm{
        margin: 20px 20px;
      }
      h6{
        font-size: 16px;
        margin: 0 0 10px 0;
      }
      p{
        font-size: 16px;
      }
    }
  }

  .gallerySect{
    margin-bottom: $sectionEndMarg-phone;
    h4{
      font-size: 20px;
    }
    .galleryImgCont{
      margin: 30px 0 0 0;
      .galleryImgHolder{
        width: 100%;
        height: 203px;
        // margin: 0 10px 0 0;
        &:hover{
          opacity: 1;
        }
        .firstColfirstImg{
          width: 45%;
          height: 202px;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
        .firstColsecondImg{
          width: 45%;
          height: 202px;
          right: 0;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
        .secColfirstImg{
          width: 45%;
          height: 202px;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
        .secColsecondImg{
          width: 45%;
          height: 202px;
          right: 0;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
        .trdColfirstImg{
          width: 45%;
          height: 202px;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
        .trdColsecondImg{
          width: 45%;
          height: 202px;
          right: 0;
          margin: 5px 7px;
          animation: none;
          -webkit-animation: none;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }

  .seeNdooSect{
    margin-bottom: $sectionEndMarg-phone;
    h4{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .seeNdooSectflexCont{
      width: 100%;
      margin: 0 0 0 2px;
      justify-content: center;
      flex-direction: column;
      h6{
        font-size:  16px;
        margin: 15px 0 10px 0;
      }
      p{
        font-size: 16px;
      }
    }
  }

  .reviewSect{
    margin-bottom: 0;
    .parallaxImg{
      width: 100%;
      height: 360px;
      background-attachment: local;
      .divOverImg{
        width: 80%;
        height: 305px;
        h4{
          font-size: 20px;
        }
        .onImgPtxtDiv{
          margin: 10px 0 10px;
          width: 90%;
          height: 120px;
          p{
            font-size: 16px;
          }
          .cube{
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }

  .contactSect{
    padding-top: 50px;
    h4{
      font-size: 20px;
    }
    .contactTxt{
      width: 100%;
      flex-direction: column;
      margin: 5px 0;
      p{
        font-size: 16px;
        width:  65%;
        text-align: center;
        margin: 15px 5px;
      }
      .hideSlash{
        display: none;
      }
      .SocContBottom{
        display: inline;
        background-color: transparent;
        width: 60%;
        height: auto;
        margin-bottom: 10px;
        .SocContBottomItemCont{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            margin: 3px 20px;
          }
          .tripadvisor{
            width: 25px;
            height: 25px;
          }
          .facebook{
            width: 20px;
            height: 20px;
          }
          .instagram{
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .contactSectForm{
      ul{
        li{
          input{
            width: 100%;
            height: 44px;
            border-radius: 2px;
            font-size: 15px;
            padding-left: 7px;
            margin-top: 10px;
          }
          .subjectField{
            margin-top: 0px;
          }
          .messageField{
            width: 100%;
            padding-top: 10px;
            font-size: 15px;
            border-radius: 2px;
          }
          button{
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }

    .mapDiv{
      width: 100%;
      height: 300px;
      margin:0;
      iframe{
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  footer{
    font-size: 15px;
    height: 100px;
    align-items: flex-start;
    span{
      width: 90%;
      text-align: center;
      margin-top: 7px;
    }
  }

}


@media screen and (min-width: 481px) and (max-width: 1023px) {

  .fullScreenNavCont{
    .closeBtnCubeCont{
      margin: 20px 19px 0 0;
      .closeBtnCube{
        width: 73px;
      }
    }
    .fullScreenNavItems{
      li{
        margin: 20px;
        a{
          font-size: 20px;
        }
      }
    }
  }

  nav{
    height: 91px;
    position: absolute;
    ul{
      margin:0;
      padding: 0;
      li{
        margin: 0;
        .link{
          display: none;
        }
      }
      .link-border{
        position: absolute;
        left: 20px;
        // margin-top: -15px;
        margin-top: -30px;
        padding: 15px 50px;
        .differentLink{
          margin: 5px;
        }
      }
      .burgerHolder{
        display: block;
        position: absolute;
        right: 20px;
        // margin-top: -38.5px;
        margin-top: -30px;
        width: 10%;
        text-align: center;
        .burgerCont{
          height: 54px;
          p{
            margin-top: 6px;
            font-size: 30px;
          }
        }
      }
    }
  }

  .homeSect{
    .parallaxImg{
      width: 65%;
      height: 500px;
    }
    .homeBookingForm{
      .labelwInput{
        padding: 3px;
      }
      .dateRow{
        width: 34%;
        .inputFieldDate{
          width: 100%;
        }
      }
      .numRow{
        width: 34%;
        .inputFieldNumber{
          width: 100%;
        }
      }
      .searchBookingButton{
        width: 40%;
      }
    }
  }

  .aboutSect{
    margin-bottom: 170px;
    .aboutTxt{
      .abouttxtDiv{
        width: 50%;
        height: auto;
        margin: 40px auto;
      }
    }

  }

  .roomsSect{
    .parallaxImg{
      width: 65%;
      height: 500px;
      .divOverImg{
        width: 65%;
        height: 350px;
        .onImgPtxtDiv{
          width: 85%;
          height: auto;
          margin: 15px;
        }
      }
    }
  }

  .gallerySect{
    .galleryImgCont{
      .galleryImgHolder{
        width: 20%;
        height: 380px;
        .firstColfirstImg{
          width: 20%;
          height: 380px;
        }
        .firstColsecondImg{
          width: 20%;
          height: 380px;
        }
        .secColfirstImg{
          width: 20%;
          height: 380px;
        }
        .secColsecondImg{
          width: 20%;
          height: 380px;
        }
        .trdColfirstImg{
          width: 20%;
          height: 380px;
        }
        .trdColsecondImg{
          width: 20%;
          height: 380px;
        }
      }
    }
  }

  .reviewSect{
    .parallaxImg{
      width: 65%;
      height: 500px;
      .divOverImg{
        width: 65%;
        height: 350px;
        .onImgPtxtDiv{
          width: 85%;
          height: auto;
          margin: 5px;
        }
      }
    }
  }

  .contactSect{
    h4{
      margin-bottom: 30px;
    }
    .contactTxt{
      flex-wrap: wrap;
      margin-bottom: 30px;
      p{
        margin: 10px 10px 10px;
      }
      .hideSlash{
        display: none;
      }
    }
  }

  .contactSectForm{
    ul{
      li{
        input{
          width: 30%;
        }
        .subjectField{
          width: 60.5%;
        }
        textarea{
          width: 60.5%;
        }
        button{
          width: 60.5%;
        }
      }
    }
  }

}
